:host {
  --chart-result-color: #55aaff;
  --chart-best-color: #69935e;
  --chart-ao5-color: #a6c92e;
  --chart-ao12-color: #ff6960;
  display: block;
}

.progress-chart {
  margin: 24px 0;
  padding: 24px;
  overflow: hidden;
  border: 1px solid var(--outline-color);
  border-radius: 16px;
  background: var(--surface-color);
}

@media (max-width: 640px) {
  .progress-chart {
    margin: 16px 0;
    padding: 16px;
  }
}
