<div #chartContainer class="chart-container">
  <svg
    class="plot"
    [style.width.px]="chartWidth()"
    [attr.viewBox]="'0 0 ' + chartWidth() + ' 240'"
    preserveAspectRatio="none"
    role="img"
    [attr.aria-label]="'history.progressChartDescription' | transloco"
  >
    @for (tick of store.axisTicks(); track tick.y) {
      <line
        class="grid-line"
        x1="0"
        [attr.x2]="chartWidth() - 72"
        [attr.y1]="tick.y"
        [attr.y2]="tick.y"
      />
      <text class="axis-label" [attr.x]="chartWidth() - 8" [attr.y]="tick.y + 4">
        {{ store.formatValue(tick.value) }}
      </text>
    }
    @for (item of store.series; track item.id) {
      <path
        [attr.class]="'series-line ' + item.id"
        [attr.d]="store.linePath(item.id, chartWidth())"
      />
      @for (point of store.points(); track point.number; let pointIndex = $index) {
        @let itemValue = store.value(point, item.id);
        @if (store.isAvailable(itemValue)) {
          <circle
            [attr.class]="'series-point ' + item.id"
            [attr.cx]="store.xPosition(pointIndex, chartWidth())"
            [attr.cy]="store.yPosition(itemValue)"
            r="4"
            [attr.data-series]="item.id"
            [attr.data-point]="point.number"
          >
            <title>{{ item.labelKey | transloco }}: {{ store.formatValue(itemValue) }}</title>
          </circle>
        }
      }
    }
  </svg>
</div>
