$muted: var(--text-muted-color);

:host {
  ::ng-deep .mat-mdc-card-header-text {
    width: 100%;
  }
}

mat-card-title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
}

.info {
  .number {
    display: grid;
    grid-template-columns: 1fr auto;

    .group {
      color: $muted;
    }
  }

  .name {
    font-size: var(--font-size-base);
    font-weight: normal;
  }

  .setup {
    font-size: var(--font-size-base);
    font-weight: normal;
  }
}
